<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JSP_INSCRIPTION</servlet-name>
    <jsp-file>/WEB-INF/jsp/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_INSCRIPTION</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_CONNECT</servlet-name>
    <jsp-file>/WEB-INF/jsp/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_CONNECT</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_ACCUEILNORMALE</servlet-name>
    <jsp-file>/WEB-INF/jsp/accueil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_ACCUEILNORMALE</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_ACCUEILNCONNECTE</servlet-name>
    <jsp-file>/WEB-INF/jsp/accueilConnecte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_ACCUEILNCONNECTE</servlet-name>
    <url-pattern>/AccueilUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerletAjoutArticle</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletAjoutArticle</servlet-class>
    <multipart-config>
      <location>C:\\uploadTP/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>JSP_VENDREARTICLE</servlet-name>
    <jsp-file>/WEB-INF/jsp/ajouterArticle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_VENDREARTICLE</servlet-name>
    <url-pattern>/AjouterArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_AFFICHERPROFIL</servlet-name>
    <jsp-file>/WEB-INF/jsp/utilisateurBtnModifier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_AFFICHERPROFIL</servlet-name>
    <url-pattern>/monprofil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_AFFICHERPROFILMODIFIER</servlet-name>
    <jsp-file>/WEB-INF/jsp/modifierProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_AFFICHERPROFILMODIFIER</servlet-name>
    <url-pattern>/profilmodifie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_MISERENCHERE</servlet-name>
    <jsp-file>/WEB-INF/jsp/miserEnchere.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_MISERENCHERE</servlet-name>
    <url-pattern>/miserEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_UPDATEVENTE</servlet-name>
    <jsp-file>/WEB-INF/jsp/updateVente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_UPDATEVENTE</servlet-name>
    <url-pattern>/updatevente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_ACCUEILADMIN</servlet-name>
    <jsp-file>/WEB-INF/jsp/accueilAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_ACCUEILADMIN</servlet-name>
    <url-pattern>/accueilAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_LISTEUTILISATEURADMIN</servlet-name>
    <jsp-file>/WEB-INF/jsp/listeUtilisateurAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_LISTEUTILISATEURADMIN</servlet-name>
    <url-pattern>/listeUtilisateurAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_AFFICHAGE_UTILISATEUR</servlet-name>
    <jsp-file>/WEB-INF/jsp/afficherUtilisateur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_AFFICHAGE_UTILISATEUR</servlet-name>
    <url-pattern>/AffichageUtilisateur</url-pattern>
  </servlet-mapping>
</web-app>